body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.display_box {
  display: flex;
  align-items: center;
}

.left-color {
  background: #61082b;
  width: 66.666%;
  height: 100vh;
}

.left_title {
  color: #b4d0e7;
  font-size: 71px;
  margin-top: 250px;
  margin-left: 100px;
  line-height: 1.11em;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 500;
  font-family: "SharpGroteskWide", sans-serif;
  text-align: center;
  position: absolute;
  display: inline-block;
}

.left-subtext {
  color: #fff;
  max-width: 360px;
  margin-top: 450px;
  margin-left: 250px;
  line-height: 1.11em;
  margin-bottom: 50px;
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 18px;
  font-family: "SharpGroteskWide", sans-serif;
  text-align: center;
  position: absolute;
  display: inline-block;
}

.right-form {
  width: 33.334%;
  background-color: #b4d0e7;
}

.right_signup {
  font-size: 25px;
  line-height: 1.14286;
  font-family: SharpGrotesk, Open Sans, sans-serif;
  font-weight: 500;
}

.left_nav {
  background: #fff;
}

.all_color {
}
